In [48]:
import pandas as pd

weather = pd.read_csv("weather.csv", index_col="DATE")

In [49]:
import pandas
import sklearn

In [50]:
weather

,STATION,NAME,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,SNOW,SNWD,...,WT13,WT14,WT15,WT16,WT17,WT18,WT19,WT21,WT22,WV01
DATE,,,,,,,,,,,,,,,,,,,,,
1960-01-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN,0.08,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-03,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN,0.68,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-04,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-05,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-19,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,11.86,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-04-20,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,6.93,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-04-21,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,11.41,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-04-22,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-04-23,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
null_pct = weather.apply(pd.isnull).sum()/weather.shape[0]
null_pct

STATION    0.000000
NAME       0.000000
ACMH       0.505233
ACSH       0.505189
AWND       0.379260
FMTM       0.562186
PGTM       0.469426
PRCP       0.000173
SNOW       0.000303
SNWD       0.000346
TAVG       0.725480
TMAX       0.000130
TMIN       0.000130
TSUN       0.998659
WDF1       0.505449
WDF2       0.573949
WDF5       0.577538
WDFG       0.778542
WDFM       0.999957
WESD       0.737459
WSF1       0.505319
WSF2       0.573949
WSF5       0.577582
WSFG       0.677262
WSFM       0.999914
WT01       0.657672
WT02       0.939197
WT03       0.939414
WT04       0.983653
WT05       0.983913
WT06       0.991394
WT07       0.995330
WT08       0.779277
WT09       0.992475
WT11       0.999395
WT13       0.905509
WT14       0.961642
WT15       0.998184
WT16       0.677348
WT17       0.997405
WT18       0.940884
WT19       0.999957
WT21       0.999784
WT22       0.997881
WV01       0.999957
dtype: float64

In [52]:
valid_columns = weather.columns[null_pct < .05]

In [53]:
valid_columns

Index(['STATION', 'NAME', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN'], dtype='object')

In [54]:
weather = weather[valid_columns].copy()

In [55]:
weather.columns = weather.columns.str.lower()

In [56]:
weather

,station,name,prcp,snow,snwd,tmax,tmin
DATE,,,,,,,
1960-01-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,41.0,26.0
1960-01-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.08,0.0,0.0,45.0,24.0
1960-01-03,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.68,0.0,0.0,51.0,38.0
1960-01-04,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,40.0,34.0
1960-01-05,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,38.0,31.0
...,...,...,...,...,...,...,...
2023-04-19,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,64.0,43.0
2023-04-20,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,59.0,43.0
2023-04-21,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,66.0,47.0
2023-04-22,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN
2023-04-23,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN

In [57]:
weather = weather.ffill()

In [58]:
weather.apply(pd.isnull).sum()

station    0
name       0
prcp       0
snow       0
snwd       0
tmax       0
tmin       0
dtype: int64

In [59]:
weather.apply(lambda x: (x == 9999).sum())

station    0
name       0
prcp       0
snow       0
snwd       0
tmax       0
tmin       0
dtype: int64

In [60]:
weather.dtypes

station     object
name        object
prcp       float64
snow       float64
snwd       float64
tmax       float64
tmin       float64
dtype: object

In [61]:
weather.index

Index(['1960-01-01', '1960-01-02', '1960-01-03', '1960-01-04', '1960-01-05',
       '1960-01-06', '1960-01-07', '1960-01-08', '1960-01-09', '1960-01-10',
       ...
       '2023-04-14', '2023-04-15', '2023-04-16', '2023-04-17', '2023-04-18',
       '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-22', '2023-04-23'],
      dtype='object', name='DATE', length=23124)

In [62]:
weather.index = pd.to_datetime(weather.index)

In [63]:
weather.index.year.value_counts().sort_index()

DATE
1960    366
1961    365
1962    365
1963    365
1964    366
       ...
2019    365
2020    366
2021    365
2022    365
2023    113
Name: count, Length: 64, dtype: int64

In [64]:
weather["target"] = weather.shift(-1)["tmax"]

In [65]:
weather

,station,name,prcp,snow,snwd,tmax,tmin,target
DATE,,,,,,,,
1960-01-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,41.0,26.0,45.0
1960-01-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.08,0.0,0.0,45.0,24.0,51.0
1960-01-03,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.68,0.0,0.0,51.0,38.0,40.0
1960-01-04,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,40.0,34.0,38.0
1960-01-05,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,38.0,31.0,38.0
...,...,...,...,...,...,...,...,...
2023-04-19,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,64.0,43.0,59.0
2023-04-20,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,59.0,43.0,66.0
2023-04-21,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,66.0,47.0,66.0
2023-04-22,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,66.0,47.0,66.0
2023-04-23,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,66.0,47.0,NaN

In [66]:
weather = weather.ffill()

In [67]:
weather

,station,name,prcp,snow,snwd,tmax,tmin,target
DATE,,,,,,,,
1960-01-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,41.0,26.0,45.0
1960-01-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.08,0.0,0.0,45.0,24.0,51.0
1960-01-03,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.68,0.0,0.0,51.0,38.0,40.0
1960-01-04,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,40.0,34.0,38.0
1960-01-05,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,38.0,31.0,38.0
...,...,...,...,...,...,...,...,...
2023-04-19,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,64.0,43.0,59.0
2023-04-20,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,59.0,43.0,66.0
2023-04-21,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,66.0,47.0,66.0
2023-04-22,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,66.0,47.0,66.0
2023-04-23,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,66.0,47.0,66.0

In [68]:
from sklearn.linear_model import Ridge

rr = Ridge(alpha=.1)

In [69]:
predictors = weather.columns[~weather.columns.isin(["target", "name", "station"])]

In [70]:
def backtest(weather, model, predictors, start=3650, step=90):
    all_predictions = []
    
    for i in range(start, weather.shape[0], step):
        train = weather.iloc[:i,:]
        test = weather.iloc[i:(i+step),:]
        
        model.fit(train[predictors], train["target"])
        
        preds = model.predict(test[predictors])
        preds = pd.Series(preds, index=test.index)
        combined = pd.concat([test["target"], preds], axis=1)
        combined.columns = ["actual", "prediction"]
        combined["diff"] = (combined["prediction"] - combined["actual"]).abs()
        
        all_predictions.append(combined)
    return pd.concat(all_predictions)

In [71]:
predictions = backtest(weather, rr, predictors)

In [72]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

mean_absolute_error(predictions["actual"], predictions["prediction"])

5.157916579391277

In [73]:
predictions.sort_values("diff", ascending=False)

            actual  prediction       diff
DATE
1977-04-11    90.0   50.743894  39.256106
2007-03-26    78.0   49.743126  28.256874
1999-01-02    53.0   25.929370  27.070630
1998-03-26    80.0   53.103797  26.896203
1990-03-12    85.0   58.422488  26.577512
...            ...         ...        ...
1970-11-27    55.0   54.996029   0.003971
1980-07-08    82.0   82.001809   0.001809
1986-04-16    52.0   51.998227   0.001773
2001-09-20    76.0   76.001326   0.001326
2013-09-28    72.0   72.000477   0.000477

[19474 rows x 3 columns]

In [74]:
pd.Series(rr.coef_, index=predictors)

prcp   -1.226215
snow   -0.416442
snwd    0.050004
tmax    0.468585
tmin    0.498678
dtype: float64

In [75]:
def pct_diff(old, new):
    return (new - old) / old

def compute_rolling(weather, horizon, col):
    label = f"rolling_{horizon}_{col}"
    weather[label] = weather[col].rolling(horizon).mean()
    weather[f"{label}_pct"] = pct_diff(weather[label], weather[col])
    return weather
    
rolling_horizons = [3, 14]
for horizon in rolling_horizons:
    for col in ["tmax", "tmin", "prcp"]:
        weather = compute_rolling(weather, horizon, col)

In [76]:
def expand_mean(df):
    return df.expanding(1).mean()

for col in ["tmax", "tmin", "prcp"]:
    weather[f"month_avg_{col}"] = weather[col].groupby(weather.index.month, group_keys=False).apply(expand_mean)
    weather[f"day_avg_{col}"] = weather[col].groupby(weather.index.day_of_year, group_keys=False).apply(expand_mean)

In [77]:
weather = weather.iloc[14:,:]
weather = weather.fillna(0)

In [78]:
predictors = weather.columns[~weather.columns.isin(["target", "name", "station"])]

In [79]:
predictions = backtest(weather, rr, predictors)
mean_absolute_error(predictions["actual"], predictions["prediction"])

4.815223644659927

In [80]:
mean_squared_error(predictions["actual"], predictions["prediction"])

37.9045581659879

In [81]:
predictions.sort_values("diff", ascending=False)

            actual  prediction       diff
DATE
1977-04-11    90.0   54.125520  35.874480
1990-03-12    85.0   54.110353  30.889647
2007-03-26    78.0   49.800184  28.199816
1998-03-26    80.0   51.919550  28.080450
2003-04-15    86.0   59.453390  26.546610
...            ...         ...        ...
2009-04-26    75.0   75.001111   0.001111
1974-11-16    52.0   52.000831   0.000831
2011-07-13    85.0   85.000825   0.000825
1979-07-21    84.0   83.999376   0.000624
2018-08-24    79.0   79.000578   0.000578

[19460 rows x 3 columns]

In [83]:
predictions

            actual  prediction      diff
DATE
1970-01-12    34.0   33.150958  0.849042
1970-01-13    26.0   35.462151  9.462151
1970-01-14    29.0   29.460337  0.460337
1970-01-15    36.0   30.356112  5.643888
1970-01-16    43.0   36.096148  6.903852
...            ...         ...       ...
2023-04-19    59.0   62.286834  3.286834
2023-04-20    66.0   61.002623  4.997377
2023-04-21    66.0   65.010878  0.989122
2023-04-22    66.0   65.071111  0.928889
2023-04-23    66.0   64.871656  1.128344

[19460 rows x 3 columns]